@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-link {
    @apply hover:text-[#FF2b06] duration-100;
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "helvitica";
  src: url("../fonts/helvetica-255/Helvetica-Bold.ttf");
}
